* {
    font-family: 'Architects Daughter', cursive;
}

/* HEADER SECTION */
.header {
    background-color: #EEE;
    text-align: center;
}
.header_h1 {
    font-family: 'Permanent Marker', cursive;
    padding-top: 15px;
}
.header_p {
    padding-bottom: 15px;
}

/* STATS SECTION */
.statsContainer {
    /* border: 2px solid black;
    border-radius: 10px; */
    margin: 2% 15%;
}
.buttonContainer {
    margin-top: 35px;
}
.player {
    font-family: 'Permanent Marker', cursive;
}
.gameButtons {
    margin: auto 15px;
}
/* GAMEBOARD SECTION */
.gameBoard {
    margin-top: 25px;
}
td {
    width:100px;
    height:100px;
    border: solid 1px black;
    text-align:center;
    font-size:60px;
}

td:hover {
    background-color: #EEE;
    cursor:pointer;
}
  
.activePlayer {
    /* animation: pulse 2s ease-in-out 0 infinite alternate; */
    /*animations*/
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #14bdac;
    text-shadow: #545454 1px 1px, #545454 2px 2px;
  }

  @keyframes pulse {
    0% {
      text-shadow:  #545454 1px 1px,  #545454 2px 2px;
    }
    100% {
      text-shadow:  #545454 3px 3px,  #545454 4px 4px;
    }
  }